<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

{% block title -%}
{% if title %}
    <title>Выписка - {{title}}</title>
{% else %}
    <title>Выписка</title>
{% endif %}
{% endblock %}
</head>

<body>
{%- block mainmenu -%}
<ul class="mainmenu">
{% for p in menu %}
<li><a href="{{p.url}}">{{p.name}}</a></li>
{% endfor %}
</ul>
{% endblock mainmenu -%}


<form method="post" enctype="multipart/form-data">
    <br> </br>
    <p class="annonce">Выберите файл выписки Halyk для обработки</p>
    <p><input type="file" name="Halykfileupload"></p>
    <br> </br>
    <p class="annonce">Выберите файл выписки Sber для обработки</p>
    <p><input type="file" name="Sberfileupload"></p>
    <br> </br>
    <p><input type="submit" name="process" value="Обработать"></p>
</form>

</div>
</body>